<head>
<meta charset="utf-8">


<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
</head>

<script>
	tinymce.init({selector:'textarea'});
</script>

<form action="blog_create" method="POST">
	{%csrf_token%}
	<input name="a" value=""></p>
	<textarea name="b"></textarea></p>
	<button class="btn btn-primary">添加</button>
</form>

{%for b in blogs%}
	<p class="lead">{{b.id}} . {{b.title}}</p></p>
	{{b.content}}</p>
<em>{{b.create_date}} | {{b.create_date|timesince}} | </em>
	<a class="" href="/blog_delete/{{b.id}}">删除</a> | 
	<a class="" href="/blog_update/{{b.id}}">修改</a></p>
{%endfor%}





<!--script src="http://uliweb.cpython.org/static/jquery/jquery-1.7.2.min.js?ver=2"></script>
<link rel="stylesheet" href="http://daneden.github.io/animate.css/animate.min.css" />
<script>
$(document).ready(function(){

	$("a").mouseover(function(){
		console.log("ls")
		var x = "swing";
		$(this).removeClass().addClass(x + ' animated').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
			$(this).removeClass();
		});
	});
});
</script-->
